.Navbar {
  padding: .75rem 1.25rem;
  background-color: #ee6e73;
}

.Navbar button {
  background-color: white;
  text-decoration: none;
}

.Navbar a:first-child {
  margin-right: .75rem;
}

.Navbar.result button:last-child,
.Navbar button:first-child  {
  background-color: green;
}

.Navbar.result button:first-child {
  background-color: white
}